@import "vars";
@import "mixins";
// @붙이면 가져올수 있다. (import할때는 제목의 언더바를 붙이지 않는다)

body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 16px;
  min-height: 3000px;
  background: url("../images/main/mv_01.jpg");
}

a {
  text-decoration: none;
  color: inherit;
}

//이미지는 글자처럼 처리된다.
img {
  vertical-align: top;
  //이걸쓰면 이미지 위로 붙여 준다. 안쓰면 이미가 살짝 벌어짐
}

button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

.container {
  width: 1540px;
  margin: 0 auto;
  // background: rgba(0, 0, 0, 0.2);
}

#header {
  color: white;
  height: 100px;
  overflow: hidden;
  transition: all 0.25s ease;
  position: fixed; //자식이 부모 영향을 받을려면 꼭 relative, fixed를 써줘야 한다. 그래야 부모가 overflow: hidden을 걸었을때 자식도 hidden의 영향을 받는다.
  width: 100%;
  &.on {
    height: 400px;
    background-color: white;
    color: #111;
  }
  &:before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 350px;
    top: 100px;
    left: 0;
    background-color: #eee;
  }
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    top: 100px;
  }
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    // align-items: flex-start; //각자 크기대로
  }
  #logo {
    position: absolute;
    left: 0;
    img {
      position: absolute;
    }
  }
  #gnb {
    .list {
      display: flex;
      > li {
        text-align: center;
        .depth01 {
          height: 100px;
          @include flex;
          padding: 0 50px;
          font-size: $h4;
          font-weight: 500;
        }
        .depth02 {
          padding: 30px 0;
          li {
            a {
              display: block; //flex처리해도 되고 block 처리해도 된다.
              padding: 10px 0;
            }
          }
        }
      }
    }
  }

  .util {
    position: absolute;
    right: 0;
  }
}
