@import "vars";
@import "mixins";
// @붙이면 가져올수 있다. (import할때는 제목의 언더바를 붙이지 않는다)

body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 16px;
  //min-height: 3000px;
}

a {
  text-decoration: none;
  color: inherit;
}

//이미지는 글자처럼 처리된다.
img {
  vertical-align: top;
  //이걸쓰면 이미지 위로 붙여 준다. 안쓰면 이미가 살짝 벌어짐
}

button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

.container {
  width: 1540px;
  margin: 0 auto;
  // background: rgba(0, 0, 0, 0.2);
}

#header {
  z-index: 99;
  color: white;
  height: 100px;
  overflow: hidden;
  transition: all 0.25s ease;
  position: fixed; //자식이 부모 영향을 받을려면 꼭 relative, fixed를 써줘야 한다. 그래야 부모가 overflow: hidden을 걸었을때 자식도 hidden의 영향을 받는다.
  width: 100%;
  &.color {
    color: #111;
    #logo a .logo-white {
      opacity: 0;
    }
    #logo a .logo-color {
      opacity: 1;
    }
  }
  &.on {
    height: 400px;
    background-color: white;
    color: #111;
    #logo a .logo-white {
      opacity: 0;
    }
    #logo a .logo-color {
      opacity: 1;
    }
  }
  &:before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 350px;
    top: 100px;
    left: 0;
    background-color: #eee;
  }
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    top: 100px;
    pointer-events: none; //이렇게 해야 마우스가 여기 걸려도 depth02들이 나온다. 안그러면 마우스가 여기 걸렸을때 depth02들이 사라짐!
  }
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    // align-items: flex-start; //각자 크기대로
  }
  #logo {
    position: absolute;
    left: 0;
    a {
      height: 100px;
      display: flex;
      align-items: center;
      img {
        position: absolute;
        transition: all 0.25s ease;
      }
      .logo-color {
        opacity: 0;
      }
    }
  }
  #gnb {
    .list {
      display: flex;
      > li {
        text-align: center;
        &:hover {
          .depth01 {
            &:after {
              width: calc(100% - 40px);
              right: auto;
              left: 20px;
            }
          }
        }
        .depth01 {
          height: 100px;
          @include flex;
          padding: 0 50px;
          font-size: $h4;
          font-weight: 500;
          position: relative;
          &:after {
            content: "";
            display: block;
            height: 3px;
            background-color: #333;
            position: absolute;
            bottom: 0;
            right: 20px;
            width: 0;
            transition: all 0.25s ease;
          }
        }
        .depth02 {
          padding: 30px 0;
          li {
            a {
              display: block; //flex처리해도 되고 block 처리해도 된다.
              padding: 10px 0;
            }
          }
        }
      }
    }
  }

  .util {
    position: absolute;
    right: 0;
    top: 40px;
    .language {
      &:hover {
        ul {
          opacity: 1;
        }
      }
      button {
        display: flex;
        align-items: center;
        font-size: 18px;
        cursor: pointer; //커서가 손가락으로 바뀐다!
        &:before {
          content: "\e894";
          font-family: "Material Icons";
          display: block;
          font-size: 20px;
          margin-right: 10px;
        }
      }
      ul {
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 500;
        color: #111;
        text-align: center;
        opacity: 0;
        transition: all 0.25s ease;
        li {
          a {
            display: block;
            padding: 5px 0;
          }
        }
      }
    }
  }
}

#footer {
  background-color: #333;
  color: #fff;
  .util-box {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .container {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        li {
          margin-right: 30px;
          font-weight: 500;
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
  }
  .addr-box {
    padding: 30px 0;
    address {
      margin-bottom: 20px;
    }
  }
}
